* {
  color: blue;
  margin: 0;
  padding: 0;
}

input {
  margin: 10px;
  font-size: 18px;
}

/* ---calendar table--- */
table {
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid darkslategray;  
}
thead tr{
  background-color: lightgrey;  
}
td {   
  font-size: 1.2em;
  padding: 2px;  
  text-align: center; 
  border: 1px solid darkslategray;    
}

.container {
  display: flex;
  text-align: center;
  flex-direction: row;
  height: 100%;
  align-items: stretch;    
  margin: 15px;
  padding: 5px;     
}

.left-sidebar {
  flex: 1;
  border: 1px solid grey;
}

.center-content-main {
  display: flex;
  justify-content: center;  
}

.center-content-main section {
  display: flex;
  justify-content: center;
  border: 1px solid grey;
}

.topics {
  display: flex;
  
}

.left-column-main {
  flex: 2;      
}

.middle-column-main {
  flex: 2;  
}

.right-column-main {
  flex: 1;  
}

.center-content {
  flex: 4;
  border: 1px solid grey;  
}

.center-title {
  display: inline-flex;
  align-content: center;
  align-items: center;
  margin: 0 10px;
}

.center-title h1 {
  margin: 0 10px;
}

.center-title h3{
  padding: 5px;
  margin: 0 5px;  
}

.right-sidebar {
  flex: 1;
  border: 1px solid grey;
}

ul {
  list-style-type: none;
  padding: 5px;
  margin: 10px 0;
  font-size: 1.2em;
}

#change-language {
  color: black;
  font-size: 1.2em;
  padding: 2px;
  margin: 10px;
}